# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Custom Full-Stack Project Exclusions
venv/
.venv/
env/
mybackend/db.sqlite3
mybackend/staticfiles/
ecommerce-app/node_modules/
ecommerce-app/dist/
.vscode/
__pycache__/
*.pyc
.DS_Store
